# Port where the app will run
PORT=3000
# This will be the secret used to encode your jwt
SECRET=randomstring
# This is the string usued to connect to your mysql db
DB="<user>:<password>@tcp(<localhost:3306>)/<dbname>?parseTime=true"